{% raw %}{{ with secret "pki_int_consul/issue/consul-dc1" "common_name=server.dc1.consul" "ttl={% endraw %}{{ consul_template_cert_ttl }}{% raw %}" "ip_sans={% endraw %}{{ inventory_hostname }}{% raw %}"}}
{{ .Data.private_key }}
{{ end }}
{% endraw %}
