#!/usr/bin/env bash

echo "==========BEGIN CERTIFICATE KEY ROTATION=========="

date
echo "Reloading nomad daemon"
sudo systemctl reload nomad
echo "Tidying certificate store"
curl -s --header "X-Vault-Token: {{ root_token }}" --data '{"tidy_cert_store": true, "tidy_revoked_certs": true, "safety_buffer": "{{ consul_template_cert_ttl }}"}' --request POST http://{{ inventory_hostname }}:8200/v1/pki_int_nomad/tidy > /dev/null
curl -s --header "X-Vault-Token: {{ root_token }}" --data '{"tidy_cert_store": true, "tidy_revoked_certs": true, "safety_buffer": "{{ consul_template_cert_ttl }}"}' --request POST http://{{ inventory_hostname }}:8200/v1/pki/tidy > /dev/null

echo "==========END CERTIFICATE KEY ROTATION=========="
