{% raw %}{{ with secret "pki_int_nomad/issue/nomad-dc1" "common_name=server.global.nomad" "ttl={% endraw %}{{ consul_template_cert_ttl }}{% raw %}" "ip_sans={% endraw %}{{ inventory_hostname }}{% raw %}"}}
{{ .Data.private_key }}
{{ end }}
{% endraw %}
